-# coding: utf-8
!!!html
%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
  %title U2Gift - #{h user_name}さん(つらそう)へのメッセージ

%body
  %h2 U2Gift 〜 つらぽよ各位に捧ぐオンラインカウンセリングサービス 〜
  %h1 @#{h user_name} おつらいですねー
  %div
    %a{ href: "https://twitter.com/intent/tweet?screen_name=#{URI.escape user_name}&text=#{URI.escape "おつらいですねー http://u2gift-todesking.sqale.jp/"}", 'class'=> 'twitter-mention-button', 'data-related'=> user_name }

  %a{href: '/'} TOP

  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
